{#
🖉: U+1F589
#}
**{{ name }}** ({{ type }}) `🖉`__
{% if constraints is not undefined %}
    constraints:

    .. list-table::
       :widths: auto
       :align: left

       {% for key, val in constraints.items() %}
       * - {{ key }}
       {% if val is sequence %}
         - {{ ", ".join(val) if val else "..." }}
       {% else %}
         - {{ val }}
       {% endif %}
       {% endfor %}
{% endif %}
    .. __: https://github.com/sentinel-energy/sentinel-archive-registry/edit/master/sark_registry/{{ file }}

